{% extends 'base.html' %}
{% load static%}

{% block content %}
<section class="h-100 bg-section">
    <div class="container py-5 h-100">
        <div class="d-flex justify-content-center mt-5">
            <div class="card rounded-5 text-black animated animate__fadeInLeft" style="width: 35rem;">
                <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                        <h4 class="mt-1 pb-1 welcome-text animate__animated animate__fadeInUp">Change Your Password</h4>
                        <img src="{% static 'images/logo.png' %}" style="width: 185px;" alt="logo" class="animate__animated animate__zoomIn">
                    </div>

                    <form class="animate__animated animate__fadeInUp" method="post" autocomplete="off">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% for field in form %}
                            <div class="form-outline mb-4">
                                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}">
                                {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success mb-3 rounded-5 px-4" type="submit">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
