{% extends 'base.html' %}
{% block content%}

<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Booking Requests</h1>
            <select class="form-control" style="width: auto;" onchange="change_status(this);">
                <option value="pending">Pending</option>
                <option value="accepted">Accepted</option>
                <option value="rejected">Rejected</option>
            </select>
        </div>

        {%for idx, booking_request in bookings.items%}
        <div class="bookings" id="{{idx}}" {% if idx != "pending" %} hidden {%endif%}>
            {% for booking in booking_request %}
            <div class="card my-5">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ booking.room.hostel }}</b></h5>
                            <p class="card-text">Room : {{ booking.room }}</p>
                            <p class="card-text">Student : {{booking.student}}</p>
                            <p class="card-text">CNIC : {{booking.cnic}}</p>
                            <p class="card-text">Contact : {{booking.student.contact_number}}</p>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card-body">
                            <h5 class="card-title"><b>Information</b></h5>
                            <p class="card-text">{{booking.description}}</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ booking.status }}</b></h5>
                            <p class="card-text">Booking Date : {{booking.booking_date}}</p>
                            {% if booking.status == "Pending" %}
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'approve_booking' booking.id %}"
                                    class="btn btn-success mr-2">Approve</a>
                                <a href="{% url 'reject_booking' booking.id %}" class="btn btn-danger">Reject</a>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div>No booking requests.</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script>
        function change_status(ele) {
            const value = ele.value;
            const bookings = document.getElementsByClassName('bookings')
            for (let i = 0; i < bookings.length; i++) {
                bookings[i].hidden = true
            }
            const booking = document.getElementById(value)
            booking.hidden = false
        }
    </script>
</body>
{% endblock content %}
