{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<title>Room Detail - {{ room.room_type }}</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<style>
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #eef2f7;
        /* Consistent background color with hostel detail page */
    }

    .card {
        background-color: #fff;
        /* White card background */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        /* Rounded corners */
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-primary,
    .btn-danger {
        color: #fff;
        /* White text for buttons */
        border: none;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        /* Slightly darker blue on hover */
    }

    .btn-danger:hover {
        background-color: #dc3545;
        /* Slightly darker red on hover */
    }

    .btn-transparent {
        background: transparent;
        border: 1px solid #000;
    }

    .btn-transparent:hover {
        background: #000;
        color: #fff;
    }

    .room-image {
        width: 100%;
        height: auto;
        border-radius: .25rem;
        object-fit: cover;
        /* Ensures the image fits nicely */
    }

    .list-group-item:hover {
        background-color: #f8f9fa;
        /* Light hover effect for list items */
    }

    /* Additional custom styles */
</style>

<div class="container mt-5">
    <!-- Back Button -->
    <button class="btn-size btn btn-transparent text-black btn-lg" onclick="window.history.back();"><svg
            xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg></button>

    <!-- Room Detail Card -->
    <div class="card mb-4">
        <div class="row p-2">
            <div class="col-md-4 col-12 d-flex justify-content-center align-items-center">
                {% if room.picture %}
                <img src="{{ room.picture.url }}" class="room-image" alt="Room Image">
                {% else %}
                <div>
                    picture
                </div>
                {% endif %}
            </div>
            <div class="col-md-8 col-12">
                <div class="card-body">
                    <h5 class="card-title">{{ room.room_type }}</h5>
                    <p class="card-text">Price: {{ room.room_price }}</p>
                    <p class="card-text">Floor: {{ room.floor }}</p>

                    <!-- Additional Room Details Here -->
                    {% if request.user.is_authenticated %}
                    {% if request.user.student %}
                    <div class="text-right">
                        <a href="{% url 'book_room' room.id %}" class="btn btn-primary">Book this room</a>
                    </div>
                    {% elif room.hostel.ownerUser == user %}
                    <div class="text-right">
                        <a href="{% url 'room_update' room.id %}" class="btn btn-primary">Edit</a>
                        <button type="button" data-toggle="modal" data-target="#DeleteModal"
                            class="btn btn-danger shadow">
                            Delete
                        </button>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="mt-4">
                        <h6 class="text-center">Please login here to book a room
                            <a href="{% url 'login' %}">Login</a>
                        </h6>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Room Services -->
<div class="row">
    <div class="col-md-6 col-lg-12 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h6 class="text-center">Facilities</h6>
                <hr>
                <ul>
                    {% for service in room.services|load_service %}
                    <li class="text-success">{{ service }}</li>
                    {% empty %}
                    <div class="text-center">Not added yet</div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% url 'room_delete' room.id as action_url %}
{% include 'delete_modal.html' with title="Room" url=action_url %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
