{% extends 'base.html' %}

{% block title %}{% if form.instance.id %}Edit Room{% else %}Create Room{% endif %}{% endblock %}

{% block content %}
<style>
    /* Custom CSS for Create/Edit Room form */
    body {
        background: linear-gradient(to right, #87CEEB, #d9e2de);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border: 1px solid #e1e1e1;
        border-radius: 25px;
    }

    .form-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <h1 class="form-title text-center">{% if form.instance.id %}Edit Room{% else %}Create Room{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mt-4 text-center">
            <button type="submit" class="btn btn-success rounded-pill">Save</button>
            <a href="{% url 'hostel_list' %}" class="btn btn-secondary rounded-pill">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
{% block welcom_message%}
{% endblock %}
