<!-- service_remove_confirm.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Confirm Service Removal</h2>
    <p>Are you sure you want to remove the service "{{ service.name }}"?</p>
    
    <form method="post" action="{% url 'service_remove' hostel.id service.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Removal</button>
        <a href="{% url 'hostel_detail' hostel.id %}" class="btn btn-secondary">Cancel</a>
      </form>
  </div>
{% endblock %}
